<div class="col-md-8 col-lg-8 preview animated fadeIn" style="padding: 0;">
	<!--<span>Live Preview of  {{ file.name }} setting file.</span>-->

	<code>{{ file.sections }}</code>
</div>
<div class="col-md-4 col-lg-4 sidebar animated fadeInTop">

	<div class="row">
		<div class="col-md-4 col-lg-4">
			<button data-ng-click="goBack()" class="btn btn-md btn-default pull-left">back</button>
		</div>
		<div class="col-md-8 col-lg-8">
			<h1>New Settings File</h1>
		</div>
		
	</div>

	<section class="file">
		<h2 class="title">Create New Settings File</h2>

		<div class="form-group {{ file.name.length >= 100 ? 'has-error' : '' }}">
			<label for="file_name">File name (this is for in-app organizational purposes only)</label>
			<span class="pull-right {{ file.name.length >= 100 ? 'text-danger' : 'field-count' }}">{{ file.name.length ? file.name.length : 0 }} / 100</span>
			<input name="file_name" id="file_name" data-ng-model="file.name" placeholder="File name"  maxlength="100" class="form-control">
			<p data-ng-show="file.name.length <= 0 || file.name.length >= 100" class="text-danger">Please enter a file name to continue.</p>
			<p data-ng-show="file.name.length > 0 && file.name.length <= 100 && file.sections.length <= 0" class="text-danger">Please add at least one section to continue.</p>
		</div>
	</section>

	<section class="sections animated fadeInDown" data-ng-show="file.name.length > 0 && file.name.length <= 100">
		<h2 class="title">Add Sections</h2>
		
		<div class="form-group {{ section.name.length >= 100 ? 'has-error' : '' }}">
			<label for="section_name">Section name</label>
			<span class="pull-right {{ section_name.length >= 100 ? 'text-danger' : 'field-count' }}">{{ section.name.length ? section.name.length : 0 }} / 100</span>
			<div class="input-group">
				<input name="section_name" id="section_name" data-ng-model="section.name" placeholder="Section name"  maxlength="100" class="form-control">
				<span class="input-group-btn">
					<button data-ng-click="addSection()" class="btn btn-md {{ section.name.length >= 100 ? 'btn-danger' : 'btn-primary' }}"><i class="fa fa-plus"></i> Add Section</button>
				</span>
			</div>
			<p data-ng-show="section.name.length <= 0 || section.name.length >= 100" class="text-danger">Please enter a section name to continue.</p>
		</div>

		<div class="row promotions" data-ng-if="file.sections.length" data-ng-repeat="s in file.sections" data-ng-mouseover="fileMouseOver()" data-ng-mouseleave="fileMouseLeave()">
			<div class="col-md-6 col-lg-6">
				<p class="name">{{ s.name }}</p>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="btn-group animated fadeIn" data-ng-show="fileHover">
					<a ui-sref="build_settings({ section_id: s.id })" class="btn btn-md btn-default"><i class="fa fa-plus"></i> Add / Edit Settings</a>
					<a ui-sref="delete_section({ section_id: s.id })" class="btn btn-md btn-danger"><i class="fa fa-trash"></i></a>
				</div>
			</div>
		</div>
	</section>

	<button data-ng-click="createFile()" class="btn btn-md create-file-btn {{ file_name.length >= 100 ? 'btn-danger' : 'btn-primary' }}" {{ (file.name.length <= 0 && file.sections.length <= 0) ? 'disabled' : '' }}><i class="fa fa-plus"></i> Create File</button>

</div>
