
<div class="container">
	<div class="row" style="margin-top: 30px;">
		<div class="col-md-12 col-lg-12">
			<p style="font-size: 24px;">Are you sure you want to delete this promotion bar (Promotion ID: {{ promotion_id }})?</p>

			<a data-ng-click="goBack()" class="btn btn-md btn-primary">Cancel</a>

			<a data-ng-click="deletePromotion(promotion_id)" class="btn btn-md btn-danger">Delete</a>
		</div>
	</div>
</div>