
<div class="row" style="margin-top: 30px;">
	<div class="col-md-8 col-lg-8">
		<h1>Your Settings Files</h1>
		<!--<p class="help-block">
			These files will be in Config/settings_schema.json inside your selected theme's admin panel.
			This will in fact overwrite your current settings_schema.json file.
			In the future, the plan will be to give an option to append to the existing settings schema file.
		</p>-->
	</div>
	<div class="col-md-4 col-lg-4">
		<a ui-sref="create_file" class="btn btn-lg btn-primary pull-right button publish">Create New Settings File</a>
	</div>
</div>

<!--<div class="row header">
	<div class="col-md-6 col-lg-6">
		<p class="name">Text</p>
	</div>
	<div class="col-md-1 col-lg-1">
		<p>Status</p>
	</div>
	<div class="col-md-1 col-lg-1">
		<p>Scheduled</p>
	</div>
	<div class="col-md-1 col-lg-2">
		<p>Modified</p>
	</div>
	<div class="col-md-2 col-lg-2"></div>
</div>-->
<div class="row promotions" data-ng-if="files.length" data-ng-repeat="f in files" data-ng-mouseover="fileMouseOver()" data-ng-mouseleave="fileMouseLeave()">
	<div class="col-md-6 col-lg-6">
		<p class="name">{{ f.name }}</p>
	</div>
	<div class="col-md-2 col-lg-2">
		<p>{{ f.updated_at }}</p>
	</div>
	<div class="col-md-2 col-lg-2">
		<div class="btn-group animated fadeIn" data-ng-show="fileHover">
			<a ui-sref="update_file({ file_id: f.id })" class="btn btn-md btn-info"><i class="fa fa-pencil"></i></a>
			<a ui-sref="delete_file({ file_id: f.id })" class="btn btn-md btn-danger"><i class="fa fa-trash"></i></a>
		</div>
	</div>
</div>

<div class="row" data-ng-if="!files.length">
	<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<p style="padding: 0 42px;">You have no settings files yet! Click <a ui-sref="create_file">here</a> to create one!</p>
	</div>
</div>

