<!-- Layout Details -->
<section class="title" style="padding-bottom: 20px;">
    <div class="row">
        <div class="col-md-7">
            <p class="layout-name" data-ng-show="current_layout.name == ''">Create a Layout to get started!</p>
            <div data-ng-hide="current_layout.name == ''">
            <p id="homepage_name_p" class="layout-name" data-ng-show="mode == 'view'">{{ current_layout.name }}</p>
            <input type="text" class="layout-name" data-ng-model="layout_name" data-ng-change="updateLayout(layout_name)" style="width: 100%;" data-ng-hide="mode != 'edit'" id="homepage_name_i" placeholder="{{ current_layout.name }} (click to edit)">
            </div>
        </div>
        <div class="col-md-5 text-right">
            <span data-ng-model="save_message" class="saved_status">Last edit was made <b id="last_update">{{ current_layout.updated_at }} </b></span>
        </div>
    </div>
</section>


<!-- Edit Layout Photos -->
<ul id="clone-wrap">

    <li class="row option" data-ng-if="current_layout.containers" data-ng-repeat="container in current_layout.containers | orderByIndex" style="list-style: none; height: {{ container.height }}px; width: {{ container.width }}px;">
        <div data-ng-repeat="subcontainer in container.subcontainers" class="{{ current_subcontainer.id == subcontainer.id ? 'shadow': '' }}" style="{{ subcontainer.hindex == 0 ? 'margin-right: 20px;' : '' }} float: left; height: {{ subcontainer.height }}px; width: {{ subcontainer.width }}px; {{ subcontainer.path ? 'background: url(\'' + subcontainer.path + '\') center center no-repeat scroll; background-size: cover;' : '' }}">
            <div id="sub_{{ subcontainer.id }}" ui-sref="update_subcontainer({ layout_id: current_layout.id, subcontainer_id: subcontainer.id })" class="option-{{ container.type }}" style="height: {{ subcontainer.height }}px; width: {{ subcontainer.width }}px;">
                <p data-ng-hide="subcontainer.path != ''" class="placeholder_size" style="text-align: center;font-size: 42px;font-weight: 600;width: 100%;">{{ subcontainer.width + 'x' + subcontainer.height }}</p>
                <a data-ng-hide="subcontainer.path != ''" href="#" class="add-image add_image"><i class="fa fa-plus-circle"></i> Add Image</a>
                <a data-ng-show="subcontainer.path != ''" href="#" class="change-image change_image"><i class="fa fa-camera"></i> Update Image</a>
            </div>
        </div>
        <div style="clear: both;"></div>
    </li>
    <li class="row option" data-ng-if="!current_layout.containers" style="list-style: none;">
        <p style="font-size: 24px; padding: 24px; opacity: .2;">This layout has no containers, yet.</p>
    </li>
    
</ul>

