<div class="col-md-8 col-lg-8 preview animated fadeIn">
	<div id="snippet_container">
	</div>
	<iframe data-ng-src="{{ previewLink }}"></iframe>
</div>
<div class="col-md-4 col-lg-4 sidebar animated fadeInRight">

	<div class="row">
		<div class="col-md-7 col-lg-7">
			<h1>Update Promotion</h1>
		</div>
		<div class="col-md-5 col-lg-5">
			<button data-ng-click="goBack()" class="btn btn-md btn-default">back</button>
			<button data-ng-click="showPreview()" class="btn btn-md btn-default">Preview</button>
			<button data-ng-click="updatePromotion()" class="btn btn-md btn-primary button publish pull-right">Save</button>
		</div>
	</div>

	<section class="" style="padding-bottom: 24px;">
		<h2>Status: {{ promotion.is_active == 1 ? 'Active' : 'De-activated' }}</h2>
	</section>

	<section class="general" style="padding-bottom: 40px;">
		<h2>Basic settings</h2>

		<p class="help-block heading">Enter the text you would like to display on your bar.</p>
		<div class="form-group">
			<label for="text">Text</label>
			<span class="pull-right field-count">{{ promotion.text.length ? promotion.text.length : 0 }} / 100</span>
			<input name="text" id="text" data-ng-model="promotion.text" placeholder="Micro copy" maxlength="100" class="form-control">
		</div>

		<p class="help-block heading">Select the text and background color for your bar.</p>
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<div class="form-group">
					<label for="background_color">Bar Color</label>
		            <input type="text" id="background_color" name="background_color" value="{{ promotion.background_color }}" class="form-control color-picker">
		            <div class="color-preview" style="height: 25px; width: 25px;{{ promotion.background_color > 0 ? '' : 'background-color:#' + promotion.background_color + ';' }}"></div>
				</div>
			</div>

			<div class="col-md-6 col-lg-6">
				<div class="form-group">
					<label for="foreground_color">Text Color</label>
		            <input type="text" id="foreground_color" name="foreground_color" value="{{ promotion.foreground_color }}" class="form-control color-picker">
		            <div class="color-preview" style="height: 25px; width: 25px; {{ promotion.foreground_color > 0 ? '' : 'background-color:#' + promotion.foreground_color + ';' }}"></div>
				</div>
			</div>
		</div>

		<p class="help-block heading">Select a font and font style for the text on your bar.</p>
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<div class="form-group">
					<label for="font">Font</label>
					<select id="font" name="font" class="form-control" data-ng-model="font" data-ng-change="changeSelectedFont()">
						<option data-ng-selected="promotion.font == 'Arial'" value="Arial">Arial</option>
						<option data-ng-selected="promotion.font == 'Arial Black'" value="Arial Black">Arial Black</option>
						<option data-ng-selected="promotion.font == 'Tahoma'" value="Tahoma">Tahoma</option>
						<option data-ng-selected="promotion.font == 'Verdana'" value="Verdana">Verdana</option>
						<option data-ng-selected="promotion.font == 'Helvetica'" value="Helvetica">Helvetica</option>
						<option data-ng-selected="promotion.font == 'Times New Roman'" value="Times New Roman">Times New Roman</option>
						<option data-ng-selected="promotion.font == 'Lucida'" value="Lucida">Lucida</option>
						<option data-ng-selected="promotion.font == 'Trebuchet'" value="Trebuchet">Trebuchet</option>
						<option data-ng-selected="promotion.font == 'Georgia'" value="Georgia">Georgia</option>
						<option data-ng-selected="promotion.font == 'Open Sans'" value="Open Sans">Open Sans</option>
						<option data-ng-selected="promotion.font == 'Roboto'" value="Roboto">Roboto</option>
						<option data-ng-selected="promotion.font == 'Oswald'" value="Oswald" style="font-family: 'Oswald', sans-serif !important;">Oswald</option>
						<option data-ng-selected="promotion.font == 'Lato'" value="Lato">Lato</option>
						<option data-ng-selected="promotion.font == 'Ubuntu'" value="Ubuntu">Ubuntu</option>
						<option data-ng-selected="promotion.font == 'Montserrat'" value="Montserrat">Montserrat</option>
						<option data-ng-selected="promotion.font == 'Lora'" value="Lora">Lora</option>
						<option data-ng-selected="promotion.font == 'Source Sans Pro'" value="Source Sans Pro">Source Sans Pro</option>
						<option data-ng-selected="promotion.font == 'PT Sans'" value="PT Sans">PT Sans</option>
						<option data-ng-selected="promotion.font == 'PT Serif'" value="PT Serif">PT Serif</option>
					</select>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="form-group">
					<label for="font_style">Font Style</label>
					<select id="font_style" name="font_style" class="form-control">
						<option data-ng-selected="promotion.font_style == 'Original'" value="Original">Original</option>
						<option data-ng-selected="promotion.font_style == 'Bold'" value="Bold">Bold</option>
					</select>
				</div>
			</div>
		</div>

		

		<!--<div class="form-group">
			<label for="position">Position</label>
			<select data-ng-model="promotion.position" id="position" name="position" class="form-control">
				<option data-ng-selected="promotion.position == 'top'" value="top">Top</option>
				<option data-ng-selected="promotion.position == 'bottom'" value="bottom">Bottom</option>
			</select>
		</div>-->
		<p class="help-block heading">Select if you want your bar to remain at the top of the page regardless of scroll position.</p>
		<div class="checkbox">
	    	<label><input id="is_sticky" name="is_sticky" type="checkbox" data-ng-checked="promotion.is_sticky">Is Sticky?</label>
	    </div>

	    <p class="help-block heading">Enter the url to visit when your bar is clicked.</p>
		<div class="form-group">
			<label for="destination_url">Call-To-Action URL</label>
			<span class="pull-right field-count">{{ promotion.destination_url.length ? promotion.destination_url.length : 0 }} / 500</span>
			<input id="destination_url" data-ng-model="promotion.destination_url" name="destination_url"  maxlength="500" class="form-control">
		</div>

		<div class="checkbox animated fadeInDown" data-ng-show="promotion.destination_url">
	    	<label><input id="in_newtab" name="in_newtab" type="checkbox" data-ng-checked="promotion.in_newtab">Open Call-To-Action in New tab?</label>
	    </div>

	    <p class="help-block heading">The animation to display your bar.</p>
		<div class="form-group">
			<label for="entrance_animation">Entrance Animation</label>
			<select id="entrance_animation" name="entrance_animation" class="form-control">
				<option data-ng-selected="promotion.entrance_animation == 'slideInUp'" value="slideInUp">Slide-In-Up</option>
				<option data-ng-selected="promotion.entrance_animation == 'slideInDown'" value="slideInDown">Slide-In-Down</option>
				<option data-ng-selected="promotion.entrance_animation == 'slideInLeft'" value="slideInLeft">Slide-In-Left</option>
				<option data-ng-selected="promotion.entrance_animation == 'slideInRight'" value="slideInRight">Slide-In-Right</option>
			</select>
		</div>

		<p class="help-block heading">Select only if you would like to activate instantly.</p>
		<div class="checkbox">
	    	<label><input id="is_active" data-ng-model="active" name="is_active" type="checkbox">Activate Now?</label>
	    </div>

	    <p class="help-block heading">Select one of your current shopify themes to active your promo bar on.</p>
		<div class="form-group">
			<label for="shopify_theme">Shopify Theme</label>
			<select id="shopify_theme" data-ng-model="promotion.shopify_theme_id" data-ng-change="setPreview(promotion.shopify_theme_id)" data-ng-options="theme.id as theme.name for theme in shop.themes" name="shopify_theme" class="form-control">
			</select>
		</div>
		
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<p class="help-block heading">Schedule your promo to become active at a later time.</p>
			</div>
			<div class="col-md-6 col-lg-6">
				<div class="form-group animated fadeInDown" data-ng-show="!active">
					<label for="scheduled_start_date">Scheduled activation time</label>
					<input name="scheduled_start_date" id="scheduled_start_date" data-ng-model="promotion.scheduled_start_date" class="form-control">
				</div>
			</div>

			<div class="col-md-6 col-lg-6">
				<div class="checkbox">
			    	<label><input id="will_end" data-ng-model="will_end" name="will_end" type="checkbox">Will end?</label>
			    </div>
				<div class="form-group animated fadeInDown" data-ng-show="will_end">
					<label for="scheduled_end_date">Scheduled de-activation time</label>
					<input name="scheduled_end_date" id="scheduled_end_date" data-ng-model="promotion.scheduled_end_date" class="form-control">
				</div>
			</div>
		</div>

		<div class="row animated fadeInDown" data-ng-show="promotion.is_active">
			<div class="col-md-12 col-lg-12">
				<p class="help-block heading">This will deactive the promo bar instantly from the currently active theme.</p>
				<button data-ng-click="deactivatePromotion()" class="btn btn-lg btn-danger btn-block">De-activate</button>
			</div>
		</div>

	</section>
</div>
