/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* you can also define the transition style
   on the base class as well (.repeat-item) *\/
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}


.view-animate-container {
  position:relative;
  height:100px!important;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;

  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  /*left:100%;*\/
  opacity: 1;
}
.view-animate.ng-enter.ng-enter-active {
  /*left:0;*\/
  opacity: +1;
}
.view-animate.ng-leave.ng-leave-active {
  /*left:-100%;*\/
  opacity: -1;
}*/


/* Global
-------------------------------*/

@font-face {
  font-family: 'proxima-nova';
  src: url('/assets/fonts/proximanova-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/proximanova-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/proximanova-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/proximanova-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/proximanova-bold-webfont.svg#svgProximaNova') format('svg'); /* Legacy iOS */
}

html, body{
    height: 100% !important;
}

body {
    font-family: "proxima-nova",sans-serif;
    background-color: #fff;
    font-size: 14px;
}

[class*="column"]+[class*="column"]:last-child { float: left; }
.row { 
    max-width: 100%;
    margin-right: -15px;
    margin-left: -15px;
}
.row .row { 
    width: 100%;
    padding: 0 0px;
    margin-left: 0;
    margin-right: 0;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    /*padding: 0;*/
    margin: 0;
}



a,
a:visited,
a:active {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    outline: none !important;

    color: black;
}

a:hover {
    text-decoration: none;
    outline: none !important;
}

.space-min { margin-top: 25px }
.space { margin-top: 50px; }

input[type="checkbox"]+label, 
input[type="radio"]+label,
input[type="file"], 
input[type="checkbox"], 
input[type="radio"], 
select { margin-bottom: 5px; }

input.date { 
    display: none;
    width: 150px;
    margin-top: 5px;
}


p.layout-name {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
    padding: 0;
    height: auto;
    display: inline;
}

input.layout-name {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
    padding: 0;
    height: auto;
    display: inline;
}

input.layout-name:hover,
input.layout-name:focus {
    background: transparent;
    box-shadow: none;
    border: 0;
}

::-webkit-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }

/* Typography
-------------------------------*/

h1, h2, h3,
h4, h5, h6 { 
    font-weight: 300; 
    font-family: "proxima-nova",sans-serif;
}

h1 { 
    font-size: 22px;
}

h2 { 
    font-size: 18px; 
    font-weight: 600; 
}


p {
    font-size: 13px;
    font-weight: 400;
}

p.lead { font-size: 17px; }

.title {
    margin-left: -15px;
    /*margin-right: -30px;*/
    padding: 15px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 18px;
}

.title h1 {
    line-height: 63px;
    margin-top: 0.2rem;
    margin-bottom: 0;
    font-weight: 600;
}

.saved_status{
    color: #888888;
    font-size: 11px;
}

/* Button
-------------------------------*/

.btn {
    /*padding: 5px 10px;
    border-radius: 3px;
    color: #65adf0;*/
    font-size: 14px;
    /*background-color: #F8F8F8;
    border: 1px solid #ddd;*/
    margin: 0;
    font-weight: 500;
    font-family: "proxima-nova",sans-serif;
}

.btn:hover,
.btn:focus {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #65adf0;
}

.btn.publish {
    background-color: #69ADF2;
    border: 1px solid #599DE1;
    color: #fff;
}

.btn.publish:hover,
.btn.publish:focus  {
    background-color: #5d9bda;
    border: 1px solid #599DE1;
    color: #fff;
}

.btn.yellow {
    background-color: #F8BE00;
    border: 1px solid #e4af00;
    color: #fff;
}

.btn.yellow:hover,
.btn.yellow:focus  {
    background-color: #f8da70;
    border: 1px solid #e4af00;
    color: #fff;
}

/*.btn.btn-lg {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 16px;
}*/

/*@media screen*/ 

button:hover,
button:focus { outline: none; } 

/* Header
-------------------------------*/

header,
header .col-md-6 {
    height: 56px;
    line-height: 56px;
}

header h1 {
    font-size: 26px; 
    font-weight: 600; 
    line-height: 1.8;
}

/* Secondary Nav
-------------------------------*/

#secondary {
    background-color: #F8BE00;
    height: 56px;
    line-height: 56px;
}

#secondary ul {
    height: 56px;
    line-height: 0;
    padding: 16px 0 0 0;
    padding-left: 0;
    margin: 0;
}

#secondary .inline-list>li {
    margin-left: 0;
    margin-right: 5px;

    
}



/*ul.nav li {
    padding: 8px 0;
}*/


ul.list-inline a > img {
    position: relative;
    top: -3px;
}

#secondary ul li {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-radius: 3px 3px 0 0;
    position: relative;
    float: left;
}

#secondary ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#secondary ul li a {
    color: rgba(0, 0, 0, 0.65);
    font-size: 15px;
    font-weight: 600;
    display: block;
}

#secondary ul li.active { background-color: #fff; }
#secondary ul li.active a { color: #000; }

#secondary ul li.coming-soon:hover { background-color: transparent; }
#secondary ul li.coming-soon a { color: rgba(0, 0, 0, 0.25); }

#secondary ul li.coming-soon span {
    position: absolute;
    display: block;
    font-size: 9px;
    color: #fff;
    top: 6px;
    left: 27px;
    margin: 0;
    line-height: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}


/* Logo and Secondary Nav Items Entrance Animation */
#secondary > div > img:first-of-type {
    animation-delay: 0.5s;
}

#secondary li:nth-child(1) {
    /*-webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    animation-duration: .25s;*/
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
#secondary li:nth-child(2) {
    /*-webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    animation-duration: .25s;*/
    animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
}
#seconday li:nth-child(3) {
    /*-webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    animation-duration: .25s;*/
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}




/* list
-------------------------------*/

#list {
    margin-left: -16px;
    margin-right: -16px;
}

#list p {
    line-height: 65px;
    margin-bottom: 0;
    float: left;
    margin-left: 10px;
}

#listable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
}

#listable li { 
    padding: 5px 15px; 
    font-size: 12px;
    background-color: #fff;
    width: 100%;
    /*cursor: move;*/
    border-top: 1px solid #E8E8E8;
}

#listable li:before {
    font-family: FontAwesome;
    /*content: "\f142";*/
    opacity: 0.25;
    float: left;
    padding-right: 10px;
    font-size: 22px;
}

html>body #listable li { 
    height: 65px; 
    line-height: 60px;
}

.rc_icon { 
    display: none;
    float: right;
    color: #989898;
    font-size: 18px;

    margin-left: 4px;
    margin-right: 4px;
}
.rc_icon:hover { color: #F8BE00; cursor: pointer; }
#list li:hover .rc_icon { display: block; }

/* Sortable
-------------------------------*/

#sort {
    margin-left: -16px;
    margin-right: -16px;
}

#sort p {
    line-height: 65px;
    margin-bottom: 0;
    float: left;
    margin-left: 10px;
}

#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
}

#sortable li { 
    padding: 5px 30px; 
    font-size: 12px;
    background-color: #fff;
    width: 100%;
    cursor: move;
    border-top: 1px solid #E8E8E8;
}

#sortable li:before {
    font-family: FontAwesome;
    content: "\f142";
    opacity: 0.25;
    float: left;
    padding-right: 10px;
    font-size: 22px;
}

html>body #sortable li { 
    height: 65px; 
    line-height: 60px;
}

.preview {  
    background-color: #fff !important;
    height: 100%;
}

.preview code {
    width: 100%;
    height: inherit;
}

/* Placeholders
-------------------------------*/

.add-layout a:hover { opacity: 0.5; } 

.placeholder {
    background-image: url("/assets/img/placeholder.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #EBEBEB;
    width: 100%;
    height: 116px;
    border-radius: 0;
    display: inline-block;
    background-size: 20%;
}

#sort .placeholder {
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 16px;
}

.placeholder.pl-2 {
    height: 75px;
}

#sort .placeholder.pl-2 {
    height: 15px;
    margin-top: 25px;
}

.placeholder.pl-3 {
    height: 50px;
    width: 38%;
    display: inline-block;
}

#sort .placeholder.pl-3 {
    width: 5%;
}

.placeholder.pl-4 {
    height: 50px;
    width: 58%;
    display: inline-block;
}

#sort .placeholder.pl-4 {
    width: 15%;
}


./*placeholder_size {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    width: 100%;

    position: absolute;
    top: 0px;

}*/

/* Delete Layout Section
-------------------------------*/

.delete { 
    display: none;
    float: right;
    color: #989898;
    font-size: 18px;
}

.delete:hover { color: #F8BE00; }

#sort li:hover .delete { display: block; }



#asset_preview {

    max-width: 100%;
}





/* Sidebar
-------------------------------*/

#sidebar { 
    background-color: #F7F7F7;
    border-right: 1px solid #E8E8E8;

    height: 100%;
    scroll: scroll-x;
    overflow-y: auto;
    overflow-x: hidden;

    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

#hideSidebar {
    position: absolute;
    top: 0;
    
}

#clone-wrap {
    width: 1495px;
}



/* Homepage content: 
-------------------------------*/
#preview {

    /*height: 100%;
    scroll: scroll-x;
    overflow: auto;*/
    /*min-width: 1500px;*/
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}





/* Footer
-------------------------------*/

#publish { margin-top: 30px; }

footer {
    padding: 20px 0;
    border-top: 1px solid #E8E8E8;
    margin: 50px 0;
    border-left: 30px solid #fff;
    border-right: 30px solid #fff;
}


.shadow {
  -webkit-box-shadow: 0px 0px 4px 0px #222;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 4px 0px #222;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 4px 0px #222;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

  border: 1px solid black;
}

ul#shopify_assets{
    list-style: none;
}

ul#shopify_assets li{
    margin-top: 12px;
    margin-bottom: 12px;
}


input[type="file"] {
    color: transparent;
}


#advanced_options{
    display: none;
}


class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem;
  *zoom: 1; }
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
  [class*="block-grid-"]:after {
    clear: both; }
  [class*="block-grid-"] > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625rem 1.25rem; }

@media only screen {
  .small-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .small-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .small-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .small-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .small-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .small-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .small-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .small-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .small-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .small-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .small-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .small-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625rem 1.25rem; }
    .small-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 40.063em) {
  .medium-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .medium-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .medium-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .medium-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .medium-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .medium-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .medium-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .medium-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .medium-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .medium-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .medium-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .medium-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625rem 1.25rem; }
    .medium-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 64.063em) {
  .large-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .large-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .large-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .large-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .large-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .large-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .large-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .large-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .large-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .large-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .large-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .large-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625rem 1.25rem; }
    .large-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Lato:400,700|Lora:400,700|PT+Sans:400,700|Ubuntu:400,700|PT+Serif:400,700|Oswald:400,700|Roboto:400,700|Montserrat:400,700|Open+Sans:700,400);


.main-view {
    /*margin-top: 30px;*/
    font-size: 16px;
    height: calc(100% - 56px);
}


.main-view h1 {
    font-size: 26px;
    color: #000;
    line-height: 26px;
    margin: 0px 0px 40px 32px;
}


.sidebar {
    background-color: #f7f7f7;
    padding-top: 30px;
}


.header {
    padding: 24px 32px !important;
}


.header, .header p {
    font-size: 16px;
    text-align: center;
}

.header p.name {
    text-align: left;
}


.header, .promotions {
    border-bottom: 1px solid #ebeef0;
}

.promotions {
    padding: 24px 32px;
    margin: 0px 0px !important;
    font-size: 16px;
    text-align: center;
}
.promotions:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.promotions p.name{
    font-size: 20px;
    text-align: left;
}


.field-count {
    font-size: 16px;
    color: #bbb;
}

.color-picker {
    background: none repeat scroll 0% 0% transparent !important;
    position: relative;
    z-index: 12;
}

.color-preview {
    border: 1px solid #B4B4B4;
    border-radius: 4px;
    height: 25px;
    position: absolute;
    right: 27px;
    top: 32px;
    width: 25px;
    z-index: 0;
}

.heading {
    border-bottom: 1px solid #EFEFEF;
    margin-top: 24px;
}

.create-file-btn {
    position: absolute;
    bottom: 24px;
    right: 24px;
}
